* {
  margin: 0px;
  pasdding: 0px;
}

.main-div {
  height: 2000px;
  width: 80%;
  background-color: grey;
  margin-left: 10%;
  margin-right: 10%;
}

.image-div {
  height: 300px;
  width: 100%;
  background-color: brown;
  display: flex;
}

.logo-div {
  height: 300px;
  width: 15%;
}

.text-div {
  height: 300px;
  width: 85%;
  text-align: center;
}

.logo-img {
  margin-top: 40px;
  margin-left: 30px;
}

.text {
  margin-top: 8%;
  color: white;
  font-size: 50px;
  text-align: center;
}

.link {
  font-size: 30px;
  text-decoration: dashed;
}

.boxes-div {
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 99;
  position: relative;
  background-color: #000;
}

.nav-list {
  height: 50px;
  padding: 0;
  margin: 0;
  position: absolute;
  border-right: 1px solid #54879d;
  border-right: none;
}

.nav-list .list-item {
  height: 30px;
  width: 150px;
  float: left;
  text-align: center;
  list-style: none;

  padding: 0;
  margin: 0;
  background-color: #000;
}

.nav-link {
  padding: 16px 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
  text-decoration: none;
  color: #fff;
  display: block;
}

.third-div {
  height: 60px;
  width: 100%;

  display: flex;
  margin-top: 30px;
}

.link1 {
  text-decoration: none;
  font-size: 25px;
  margin-left: 40px;
  margin-top: 70px;
}

.paragraph {
  margin-left: 22%;
  font-size: 25px;
}

.link-div {
  height: 60px;
  width: 40%;
  color: blue;
  text-decoration: underline dotted;
  font-size: 23px;
  text-align: center;
}

.link-div2 {
  height: 50px;
  width: 80%;

  font-size: 23px;
}

.welcome-div {
  height: 50px;
  width: 100%;
}

.text-welcome {
  font-size: 23px;
  text-align: center;
  color: red;
}

.marque-div {
  height: auto;
  width: 100%;
}

.marque-link {
  font-size: 20px;
  text-align: center;
  margin: 60px;
}

.link-result {
  text-align: center;
}

.vacancy-div {
  height: auto;
  width: 100%;

  display: flex;
}

.vacancy-div-form {
  height: 80px;
  width: 20%;
  background-color: #868a08;
  margin: 20px;
  text-align: center;
}

.vacancy-div-form2 {
  height: 80px;
  width: 20%;
  background-color: #0404b4;
  margin: 20px;
}

.vacancy-div-form3 {
  height: 80px;
  width: 20%;
  background-color: #fb5e03;
  margin: 20px;
}

.vacancy-div-form4 {
  height: 80px;
  width: 20%;
  background-color: #8c0101;
  margin: 20px;
}

.list-item-vacancy {
  list-style-type: none;
}

.vacancy-link {
  text-decoration: none;
  font-size: 23px;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}

.vacancy-2-div {
  height: 80px;
  width: 20%;
  background-color: #fb5e03;
  color: white;
}

.first-div1 {
  height: 200px;
  width: 100%;
  background-color: aqua;
  display: flex;
}

.vacancy-div2 {
  height: 200px;
  width: 100%;

  display: flex;
}

.vacancy-2-link1 {
  height: 80px;
  width: 20%;
  background-color: red;
  margin: 20px;
}

.vacancy-2-link2 {
  height: 80px;
  width: 20%;
  background-color: green;
  margin: 20px;
}
.vacancy-2-link3 {
  height: 80px;
  width: 20%;
  background-color: #ff00bf;
  margin: 20px;
}

.vacancy-2-link4 {
  height: 80px;
  width: 20%;
  background-color: #0080ff;
  margin: 20px;
}

.colum-div {
  height: 400px;
  width: 100%;
margin:auto;
  display: flex;
  justify-content: space-around;
}

.Result1 {
  height: auto;
  width: 25%;

  border: 2px solid black;
}

.admit-card {
  height: auto;
  width: 25%;

  border: 2px solid black;
}

.latest-job {
  height:auto;
  width: 25%;
  border: 2px solid black;
}

.coloums-div {
  height: 100px;
  width: 100%;
  color: white;
  background-color: brown;
  text-align: center;
}

.coloum-under {
  height: 100px;
  width: 100%;
  color: white;

  text-align: center;
  display: flex;

  justify-content: space-around;
}

.coloums-div1 {
  height: 100px;
  width: 25%;
  background-color: brown;
  border: 2px solid black;
}

.coloums-div2 {
  height: 100px;
  width: 25%;
  background-color: brown;
  border: 2px solid black;
}

.coloums-div3 {
  height: 100px;
  width: 25%;
  background-color: brown;
  border: 2px solid black;
}

.colum-link {
  font-size: 23px;
  color: blue;
  text-align: center;
}

.colum22{
  height:500px;
  width:100%;
  background-color:yellow;
  margin-top:2 0px;
}
